@charset "UTF-8";
footer{
	padding-bottom: 20px;
	border-top: 2px solid #ccc;
}
footer #fSlogan{
	width: 1200px; margin:0 auto;
	padding: 20px;
	/* border: 1px solid red; */
}
footer #fSlogan p{
	font-size: 10pt;
	font-weight: bold;
}
footer #fSlogan p:nth-child(2){
	height: 12px;
	overflow: hidden;
    height: 15px;
    margin-top:2px;
}
footer #fSlogan p span{
	float:left;
}
footer #fSlogan p span:nth-child(2){
	
}
footer #fSlogan #lineImgf{
	width: 40px; height:2px;
	/*margin-left: -2px;*/
	margin-bottom: 10px;
	/*margin-top: 3px; */
}
/* *************************** footerNav ************************* */
footer #footerNav{
	overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid yellow; */
}
footer #footerNav ol{
    float: left;
    padding: 0 40px;
/*     border: 1px solid cyan; */
}
footer #footerNav ol li.boldOnly{
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
}
footer #footerNav ol li.boldOnly a{
	font-family: 'Noto Sans', sans-serif;
}
footer #footerNav ol>li{
	margin-top:10px;
	color: black;
}
footer #footerNav ol>li a{
	color: black;
}

footer #sendTop{
	margin-top: 50px;
	text-align: center;
}
footer #sendTop a{
	color: gray;
}
footer #sendTop #copyR{
	font-family: 'Noto Sans', sans-serif;
}